<link rel="stylesheet" href="flickity.css" media="screen">
<script src="/path/to/flickity.pkgd.min.js"></script>

<div class="carousel js-flickity">
  <div class="carousel-cell" style="background-image: url(<%= asset_path('c.jpg') %>)"></div>
  <div class="carousel-cell"></div>
</div>
