<h1><%= @title %></h1>
<h2>show Jellyfish page</h2>
<p>Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info Generic jelly info </p>
