@import url("./_reset.css");

html {
  font-size: 20px;
  text-align: center;
  background: url("asimov2.jpg") bottom no-repeat fixed;
  background-size: auto;
  background-color: #999999;
}

body {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  color: white;
}

.column {
  flex-flow: column wrap;
}

.row {
  flex-wrap: wrap;
}


nav {
  display: flex;
  padding: 20px;
  color: gold;
  background-color: black;
  justify-content: center;
}

main {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

h1 {
  font-size: 3.5em;
  color: gold;
  line-height: 1;
  display: flex;
  justify-content: center;
  margin: 40vh 50px;
}

h2 {
  font-size: 2.5em;
  margin-top: 15%;
}

h3 {
  font-size: 1.1em;
  text-align: left;
}

em {
  font-style: italic;
  font-weight: bold;
}

p {
  line-height: 1.5;
  text-align: left;
  font-size: 0.9em;
  font-family: Optima;
}

a {
  text-decoration: none;
  color: white;
}

li {
  padding: 0 10px;
  list-style: none;
}

a:hover {
  color: gold;
}

/* bio */

article {
  padding-top: 30px;
  margin-bottom: 15%;
  display: flex;
  flex-flow: column wrap;
  max-width: 50%;
}

/* bibiliography */

.books {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.book {
    border: 3px solid gold;
    padding: 30px;
    display: flex;
    margin-bottom: 30px;
}

section {
  display: flex;
  flex-flow: column wrap;
  padding: 0 30px;
  flex: 2;
}

div .image {
  height: 272px;
  width: 160px;
}

.image {
  background: url('./foundation.jpg') no-repeat;
  background-size: cover;
}


/* quotes */

blockquote {
  background: grey;
  border-left: 10px solid gold;
  margin: 1.5em 10%;
  padding: 1em;
  border-radius: 10px;
}

blockquote:before {
  color: gold;
  content: open-quote;
  font-size: 4em;
}

/* mobile view */

@media all and (max-width: 500px) {
  nav {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }

  div .books {
    margin: 0 30px;
  }

  div .book {
    flex-direction: column;
    align-items: center;
  }

  div .image {
    margin-bottom: 30px;
  }

  article {
    max-width: 70%;
  }
}
