/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$font-family-sans-serif: "Work Sans", Helvetica, Arial, sans-serif !default;
$font-size-base: 16px;

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'https://fonts.googleapis.com/css?family=Noto+Serif|Work+Sans';


.carousel-inner img {
    width: 100vw
  }

.carousel-control:hover {
  background: none;
}

body {
  // font-family: 'Arvo';
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif', serif;
}

h5:first-child {
  margin-top: 0;
}

.glyphicon {
  padding-right: 5px;
}

.specimen {
  padding: 30px;
  .list-group-item {
    border: none;
  }
  h5 {
    color: coral;
  }
  .stats li {
    padding: 20px;
  }
  .specimen-image {
    padding: 0;
    .specimen-image-rounded {
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
    }
  }
}

p {
  line-height: 150%;
}

.navbar {
  margin-bottom: 0;
  .navbar-brand {
    color: coral;
  }
}

.about {
  text-align: center;
  background-image: url(http://26.media.tumblr.com/tumblr_m0h7xcyilW1rohigno1_500.gif);
}

.list-group-item {
  display: block;
}
