html {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  background: none;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 60vh;
  background: linen;
  align-items: center;
  justify-content: center;
  font-family: 'Slabo 27px', serif;
  color: tan;
}

h1, h3 {
  margin: 10px 0;
}

.guesses {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.guess {
  display: flex;
  align-items: center;
  border-bottom: 1px solid tan;
}

.guess:last-child {
  border-bottom: none;
}

.keys {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 40px;
  border-left: 1px solid tan;
}

.key {
  margin: 2px;
  background: lightgrey;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  border: 3px solid tan;
  border-radius: 40px;
  margin: 10px 0;
}

button {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  outline: none;
  margin: 8px;
  transition: all 0.1s ease;
}

button.picker, button.controls {
  cursor: pointer;
}

button.picker:hover, button.controls:hover {
  transform: scale(1.2, 1.2);
}

.blue {
  background: #6961FF;
}

.red {
  background: #FF6173;
}

.yellow {
  background: #FFB861;
}

.green {
  background: #47B747;
}

.white {
  background: white;
}

.answer {
  height: 50px;
}

#clear, #check, #giveup, #replay {
  background: tan;
  height: 40px;
  width: 170px;
  border-radius: 35px;
  border: none;
  outline: none;
  margin: 5px 0;
  cursor: pointer;
  transition: all .1s ease;
  font-family: inherit;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

#giveup, #replay {
  background: none;
  border: 2px solid tan;
  color: tan;
}
