/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

@import url("./_reset.css");

/* general */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: ghostwhite url(../images/bgtile.png) top repeat-x;
  font-size: 18px;
}

.vertical-align {
  margin: 10vh auto;
}

h1 {
  font-weight: bold;
  font-size: 1.3em;
  line-height: 1.3;
  color: #1c5380;
}

a {
  color: #1c5380;
  font-weight: bold;
  text-decoration: none;
}

p {
  display: block;
  font-size: 0.9em;
}

em {
  font-weight: bold;
}

main {
  margin: 0 auto;
}

/* phones */

aside {
  float: left;
  margin-left: 10%;
}

/* header */

header img {
  height: 65px;
}

button {
  float: right;
}

button img {
  height: 50px;
}

section {
  float: left;
  width: 500px;
  display: block;
}

article {
  background-image: url(../images/frame.png);
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  padding: 40px;
}

footer {
  clear: both;
}

footer .links {
  float: left;
  position: relative;
}

footer .copyright {
  color: slategrey;
}

ul {
  text-align: center;
}

li {
  display: inline;
  margin: 30px 5px;
}
