* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

header {
  background: grey;
  height: 60px;
  color: white;
  text-align: right;
  padding: 10px;
  font-size: 2em;
}

nav {
  border: 2px solid grey;
  clear: left;
  float: left;
  margin: 10px 0;
  width: 15%;
}

.menu-box {
  border: 1px solid grey;
  margin: 10px;
  padding: 10px;
  text-align: center;

}

aside {
  float: right;
  width: 30%;
  border: 2px solid grey;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

aside img {
  height: 150px;
  margin: 0 auto;
  background-size: cover;
}

article {
  border: 2px solid grey;
  margin-top: 10px;
  margin-right: 30%;
  position: absolute;
  display: inline-block;
  padding: 10px;
}

footer {
  bottom: 0;
  position: fixed;
  background: lightgrey;
  height: 60px;
  width: 100%;
  text-align: center;
}
